@font-face {
  font-family: "National 2";
  src: url("../fonts/national2/National2Test-Medium.woff") format('woff');
  font-weight: normal;
}

@font-face {
  font-family: "National 2";
  src: url("../fonts/national2/National2Test-MediumItalic.woff") format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "National 2";
  src: url("../fonts/national2/National2Test-Bold.woff") format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "National 2";
  src: url("../fonts/national2/National2Test-BoldItalic.woff") format('woff');
  font-weight: bold;
  font-style: italic;
}
